
html {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    background-color: #F2F2F7;
}
body {
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
}
@media only screen and (max-width: 900px) {
    body {
        background-color: #F2F2F7;
    }
    div.topMain {
        display: none;
      }
      div.bottomMain {
        display: none;
      }
      div.middleMain {
        display: none;
      }
      div.mobileText {
          color: black;
          display: flex;
          flex-direction: column;
            justify-content: center;
            align-items: stretch;
            
      }
}
@media only screen and (max-height: 600px) {
    body {
        background-color: #F2F2F7;
    }
    div.topMain {
        display: none;
      }
      div.bottomMain {
        display: none;
      }
      div.middleMain {
        display: none;
      }
      div.mobileText {
          display: flex;
          color: black;
          flex-direction: column;
            justify-content: center;
            align-items: stretch;
            
      }
}

/* img {
    border-radius: 15px;
} */
.mobileText {

    display: none;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    /* text-shadow: 2px 2px 5px darkgray; */
    font-family: 'Patrick Hand', cursive;
}
.topMain {
    display: flex;
    text-align: left;
    flex-grow: 1;
    max-height: 10vh;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 5em;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    text-shadow: 2px 2px 9px lightgray;
}


.middleMain {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 4;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 12px darkgray;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 2px 2px 9px lightgray;
    font-family: 'Patrick Hand', cursive;
    
}
.bottomMain {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    
}
.midLeftView {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.midMidView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}
.midRightView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}
.MidViewItemsMain {
    flex-grow: 1;
    font-weight: bold;
    font-size: x-large;
    color: black;
    /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-shadow: 2px 2px 15px lightgray;
    font-family: 'Patrick Hand', cursive;
}
/* A Sirius Company Page  1 */

.middle1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 4;
    background-color: #F7C758;
    background-image: url('imgs/SiriusBackLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 12px darkgray;
    
}
.MidViewItems1 {
    flex-grow: 1;
    color:white;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 2px 2px 15px lightgray;
    font-family: 'Patrick Hand', cursive;
}

.midImage1 {
    max-height: 17vh;
    max-width: 10vh;
}

/* Utopyism Page 2 */

.middle2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 4;
    background-image: url('imgs/Utopyism.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 12px darkgray;
    
}

/* THE theory of anything page 3 */

.middle3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 4;
    background-color: white;
    /* background-image: url('imgs/pi.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 12px darkgray;
    
}
 /* internetmall page 4 */

 .middle4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 4;
    background-image: url('imgs/internetmall.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 12px darkgray;
    
}
.midText4 {
    max-width: 100%;
    flex-grow: 1;
    color:white;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Patrick Hand', cursive;

}
.midText5 {
    max-width: 100%;
    flex-grow: 1;
    color:black;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Patrick Hand', cursive;

}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.socialimage {
    padding-left: 40px;
    width: 40px;
    height: 40px;
    /* box-shadow: 2px 2px 9px lightgray; */
}
.midImages {
    max-height: 52vh;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 9px lightgray;
}

.topTitleImage {
    max-height: 20vh;
    max-width: 35vw;

}

a:link, a:visited {
    color:black;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }
  
  a:link:active, a:visited:active {
    color: black;
    text-align: center;
  }
  .bottomSQ0 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-color: #F7C758;
    background-image: url('imgs/rubenBack.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
    
}
  .bottomSQ1 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-color: #F7C758;
    background-image: url('imgs/SiriusLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
    
}
.bottomSQ2 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-image: url('imgs/Utopyism.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
}
.bottomSQ3 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-color: rgb(255, 255, 255);
    background-image: url('imgs/piBack.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
}
.bottomSQ4 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-image: url('imgs/internetmall.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
}
.bottomSQ5 {
    border-radius: 20px;
    border-width: 2px;
    flex-grow: 1;
    box-shadow: 5px 5px 12px darkgray;
    background-color: rgb(255, 255, 255);
    background-image: url('imgs/comingsoon.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    max-height: 14vh;
    min-height: 14vh;
}